html {
    min-height: 100%;
}

a:link, a:hover, a:visited{
    color: #33332d;
    text-decoration: none;
}

a:active{
    text-shadow: 1px 1px;
}

body{
    background: #33332d;
    font-family: 'Courier Prime', monospace;
    color: #fff8dc;
    transition: all .7s;
}

.claro{ 
    background: #fff8dc; 
    color: #33332d;
    transition: all .7s;
}

header{
    background: lightgray;
}

#logo{
    display: inline;
}

#logo>img{
    margin-top: 10px;
}

#titulo{
    display: inline;
}

h1{
    font-size: 2em; 
    color: #33332d;
    display: inline;
}

#dinamico{
    width: 940px;
    margin: 0 auto;
    height: 650px;
}

input{
    color: #fff8dc;
    background: #33332d;
    width: 40%;
    margin: auto 20px;
    box-shadow: 3px 3px #fff8dc;
    border: 1px solid #fff8dc;
    font-family: 'Courier Prime', monospace;
}

input:active {
    color: #33332d;
    background: #fff8dc;
    outline: 0;
}

input:hover {
    outline: 0;
    box-shadow: 0px 0px;
}

.claro input{
    color: #33332d;
    background: #fff8dc;
    box-shadow: 3px 3px #33332d;
    border: 1px solid #33332d;
}

#encriptador{
    width: 55%;
    display: inline-block;
    padding: 50px;
    vertical-align: top;
}

#encriptador>textarea{
    width: 100%;
    height: 350px;
}

#encriptador>p{
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

#encriptador img{
    height: 15px;
    vertical-align: text-top;
    padding: 0 10px 0 0;
}

textarea{
    background: #33332d;
    box-shadow: 3px 3px #fff8dc;
    border: 1px solid #fff8dc;
    resize: none;
    color: #fff8dc;
    font-size: 2em;
}

textarea::placeholder{
    color: #fff8dc;
}

.claro textarea{
    background: #fff8dc;
    box-shadow: 3px 3px #33332d;
    border: 1px solid #33332d;
    resize: none;
    color: #33332d;
    font-size: 2em;
}

.claro textarea::placeholder{
    color: #33332d;
}

#fondo{
    width: 30%;
    display: inline-block;
    margin: 0 0 10px 0;
}

#fondo>img{
    width: 200px;
    margin: 100px 50px;
}

#fondo>p{
    text-align: center;
}

#consola{
    width: 30%;
    display: none;
    margin: 35px 0 10px 0;
    transition: all .7s;
}

#consolita{
    margin: 5%;font-size: 5em;
}

#consola>textarea::placeholder{
    font-size: 12px;
    text-align: center;
}

#consola>img{
    width: 200px;
}

#visualizador{
    text-align: right;
}

#modo{
    cursor: pointer;
    background-color: #33332d;
    width: 16px;
    height: 16px;
    appearance: none;
    border: 1px solid #fff8dc;
    box-shadow: 1px 1px;
}

#modo:checked{
    background-color: #fff8dc;
}

footer{
    padding-top: 10px;
    background: lightgray;
    text-align: center;
    color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.logo{
    height: 25px;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

#pi{
    color: #fff8dc;
    text-align: right;
    margin-right: 0px;
}

#pi>a{
    color: lightgray;
}

@media screen and (max-width:480px){
    body{
        position: fixed;
    }
    header{
        min-width: 100%;
    }
    
    h1{
        font-size: medium;
        display: table-caption;
    }
    
    #dinamico{
        width: auto;
        margin: 0 auto;
    }

    main{
        width: auto;
        margin: 0 auto;
        height: auto;
    }
    
    #encriptador{
        width: 90%;
        padding: 10px;
    }
    
    #encriptador textarea{
        height: 250px;
    }
    
    #encriptador>p{
        padding: 10px;
        font-size: 13px;
        text-align: center;
    }
    
    #encriptador img{
        height: 13px;
        min-height: 100%;
        position: relative;
    }
    
    #encriptador input{
        width: 35%;
        margin: 10px 20px;
    }

    textarea{
        font-size: 4em;
    }
    
    #botones{
        text-align: center;
    }

    #fondo>img {
        width: 100px;
        margin: 10px 10px;
        display: none;
    }
    
    #fondo p{
        width: 370px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    #consola {
        width: 100%;
        display: none;
        margin: 0 0 10px 0;
        transition: all .7s;
        height: auto;
    }
    
    #consolita {
        margin: 5%;
        height: 80px;
        width: 85%;
    }

    #visualizador{
        margin-right: 10px;
    }
    
    footer{
        height: auto;
        font-size: small;
        padding: 10px;
        position: fixed;
        min-width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 912px){
    body{
        position: fixed;    #botolnes{
            text-align: center;
        }   
    }
    header{
        min-width: 100%;
    }
    
    #tituloDinamico{
        font-size: 2em;
    }

    h1{
        font-size: medium;
        display: table-caption;
    }
    
    #dinamico{
        width: auto;
        margin: 0 auto;
    }

    main{
        width: auto;
        margin: 0 auto;
        height: auto;
    }
    
    #encriptador{
        width: 90%;
        padding: 30px;
    }
    
    #encriptador textarea{
        height: 600px;
    }
    
    #encriptador>p{
        padding: 10px;
        font-size: 2em;
        text-align: center;
    }
    
    #encriptador img{
        height: 13px;
    }
    
    #encriptador input{
        width: 35%;
        margin: 35px 20px;
        font-size: 2em;
    }
    
    textarea{
        font-size: 5em;
    }

    #botones{
        text-align: center;
    }

    #fondo{
        width: 100%;
        text-align: center;
    }
    
    #fondo>img {
        width: 90px;
        margin: 10px 10px;
        display: none;
    }
    
    #fondo>p{
        width: 95%;
        font-size: 2em;
    }
    
    #consola {
        width: 100%;
        display: none;
        margin: 0 0 10px 0;
        transition: all .7s;
    }
    
    #consolita {
        margin: 5%;
        height: 300px;
        width: 85%;
    }
   
    #copiador{
        margin: 10px 25%;
        font-size: 2em;
    }

    #visualizador{
        font-size: 2em;
        margin-right: 5px;
        margin-top: 20px;
    }

    footer{
        height: auto;
        font-size: 2em;
        padding: 10px;
        position: fixed;
        min-width: 100%;
    }
}